*{
    margin: 0;
    padding: 0;
    font-family: "Chocolate Classical Sans", sans-serif;
}
.header{
    min-height:100vh;
    width: 100%;
    background: radial-gradient(#052a3a, #011016);
    background-position: center;
    background-size: cover;
    position: relative;         
    

}
a{
    text-decoration: none;
    color: #555;
}
p{
    color:#555;
}
.container{
    max-width:1200px;
    margin: auto;
    padding-left: 125px;
    padding-right: 25px;
    padding-top: 80px;
    padding-top:50px;
    
}
.Row{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 p{
    padding:15px 0 25px;
    color:#f0ffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
    
}
.col-2 img{
    max-width: 60%;
    
    
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: #fff;
    
}
.col-3 h1{
    font-size: 40px;
    line-height: 60px;
    margin: 25px 0;
    color: #fff;
    
}
.col-3 img{
    max-width: 60%;
}  
.col-3 p{
    padding:15px 0 8px;
    color:#f0ffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    
}

.col-3{
    flex-basis: 50%;
    min-width: 300px;
    
}
    
.btn{
    display: inline-block;
    background: #ff6600;
    color: #fff;
    padding: 10px 20px;
    margin: 30px 15px;
    border-radius: 20px;
    transition: background 0.5s
}
.btn:hover{
    background: #ff6600;
}

.header .Row{
    margin-top: 70px;
}
@media(max-width: 700px){
    
    
    .container{
        padding: 20px 0;
        text-align: center;
        flex-direction: column;
        
    }
    .col-2 h1{
        font-size: 26px;
        line-height: 38px;
    }
    .col-2 img{
        padding: 70px 0;
    }
    .col-3 img{
        padding: 70px 0;
    }
    .col-3 h1{
        font-size: 26px;
        line-height: 38px;
    }
    .col-3 p{
        font-size: 16px;
        line-height: 30px;
    }
    .small-container{
        padding: 20px 0;
        text-align: center;
        flex-direction: column;
    }
    
}


nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    width:80%;
    height: 50px;
    margin: auto;
    background:#ff6600;
    display: flex;
    align-items: center;
    padding: 5px    10%;
    top:  0;
    
    
}
nav img{
    width:50px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #fff;;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}




nav .fa{
    display: none;
}
/*----media query for less than or equal to 700pixel screen size-----*/
@media(max-width:700px){

    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position:fixed;
        background: #ff6600;
        height: 100vh;
        width:200px;
        top:0;
        right:-200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display:block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
/*------Topics-------*/
.goal{
    width:80%;
    margin: auto;
    padding-top: 80px;
    padding-top:50px;
}
.row{
    margin-top:5%;
    display:flex;
    justify-content: space-between;
}
.goal-col{
    flex-basis: 48%;
    padding:30px 2px;
}
.goal-col img{
    width:100%;
}
.goal-col h1{
    padding-top: 0;
}
.goal-col p{
    padding:15px 0 25px;
}
@media(max-width:700px){
    .row{
        flex-direction:column;
    }
    .row h1{
        font-size: 24px;
    }
    .hero-text {
        flex-direction:column ;
    }
}
/*-------Role-------*/
.Role{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color:#494848;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top:5%;
    display:flex;
    justify-content: space-between;
}
.Role-col{
    flex-basis: 31%;
    background: #ddf0f8;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
text-align: center;
font-weight: 600;
margin: 10px 0;
}
.Role-col:hover{
    box-shadow: 0 0 20px 0px rgba(4,9,30,0.7);
}


/*-------call to action--------*/

.cta{
    background: radial-gradient(#052a3a, #011016);
    margin-top: 80px;
    padding: 10px 0;
    
}
.col-2 .cta-img{
    max-width: 60%;
    padding: 0px;
}

.small-container{
    max-width: 1080px;
    margin:auto;
    padding-left: 25px;
    padding-right:25px;
}

@media(max-width:700px){
    .cta h1{
        font-size: 24px;
    }
}
/*---------footer----------*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color:#ff6600;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.copyright{
    text-align: center;
}
